<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A simple flight tracking app using the opensky api">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Flight Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
    <style>
      html {
        background-color: rgb(48, 48, 48);
        color: rgba(255,255,255,0.7)
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Flight-Tracker doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
