<template>
  <div>
    <FlightTrackMap class="flightMap" v-if="$store.state.selectedFlight" :flight="$store.state.selectedFlight" :position="$store.state.position"/>
    <FlightMap class="flightMap" v-else :flights="$store.state.flights" :position="$store.state.position"/>
    <FlightTable :flights="$store.state.flights" />
  </div>
</template>

<script>
import FlightMap from '../components/FlightMap.vue';
import FlightTrackMap from '../components/FlightTrackMap.vue';
import FlightTable from '../components/FlightTable.vue';

export default {
  components: {
    FlightMap,
    FlightTable,
    FlightTrackMap,
  },
};
</script>
<style>
.flightMap {
  width: 100%;
  height: 60vh
}
</style>
