<template>
  <div class="flightTable">
    <v-data-table
    :headers="headers"
    :items="flights"
    hide-actions
    class="elevation-1"
    must-sort
  >
    <template slot="items" slot-scope="props">
      <tr @click="rowClick(props.item)">
      <td>{{ props.item[0] }}</td>
      <td>{{ props.item[1] }}</td>
      <td>{{ props.item[2] }}</td>
      <td>{{ props.item[5] }}</td>
      <td>{{ props.item[6] }}</td>
      <td>{{ Math.round(props.item[7]) }} <small>m</small></td>
      <td>{{ Math.round(props.item[9]) }} <small>m/s</small></td>
      <td>{{ Math.round(props.item[10]) }}&deg; <small>&#x2220;</small></td>
      </tr>
    </template>
  </v-data-table>
  </div>
</template>
<script>
export default {
  props: ['flights'],
  data() {
    return {
      headers: [
        { text: 'ICAO', value: '0' },
        { text: 'Flight#', value: '1' },
        { text: 'Origin', value: '2' },
        { text: 'Longitude', value: '5' },
        { text: 'Latitude', value: '6' },
        { text: 'altitude', value: '7' },
        { text: 'velocity', value: '9' },
        { text: 'direction', value: '10' },
      ],
    };
  },
  methods: {
    rowClick(flight) {
      this.$store.dispatch('selectFlight', flight);
    },
  },
};
</script>
<style>
.flightTable table thead tr {
  background-color:rgb(52,52,52);
}
</style>
