<template>
  <GmapMap
    ref="mapRef"
    :center="{lat:position.latitude, lng:position.longitude}"
    :zoom="9"
    map-type-id="terrain"
  >
    <GmapMarker
      :icon="{
        path: 'm0, -20 l5,5 v15 l20 5 v5 h-21v5l5 5v5h-9 M0,-20 l-5,5 v15 l-20 5 v5 h21v5l-5 5v5h9',
        fillColor: 'rgba(255,255,255,0.5)',
        fillOpacity: 1, strokeWeight: 1, scale: 0.8, rotation: flight[10] }"
      :key="index"
      v-for="(flight, index) in flights"
      :position="{lat: flight[6], lng: flight[5]}"
      :clickable="true"
      @click="selectFlight(flight)"
    />
  </GmapMap>
</template>
<script>
import { gmapApi } from 'vue2-google-maps';
import { debounce } from 'debounce';

export default {
  props: ['flights', 'position'],
  computed: {
    google: gmapApi,
  },
  mounted() {
    const retrieveFlights = debounce(() => {
      this.$store.dispatch('retrieveFlights');
    }, this.$store.state.debounceDelay);

    this.$refs.mapRef.$on('bounds_changed', () => {
      this.$store.commit('bounds', this.$refs.mapRef.$mapObject.getBounds());
      retrieveFlights();
    });
    retrieveFlights();
  },
  methods: {
    selectFlight(flight) {
      this.$store.dispatch('selectFlight', flight);
    },
  },
};
</script>
