<template>
  <GmapMap
    ref="mapRef"
    :center="{lat: flight.flight[6], lng: flight.flight[5]}"
    :zoom="9"
    map-type-id="terrain"
  >
    <GmapMarker
      v-for="(path, index) in flight.tracks.path"
      :icon="{
        path: 'M0,-5 l2,5 h-4 l2,-5',
        fillColor: 'rgba(255,255,255,0.2)',
        fillOpacity: 1, strokeWeight: 1, scale: 3, rotation: path[4] }"
      :key="index"
      :position="{lat: path[1], lng: path[2]}"
    />
    <GmapMarker
      :icon="{
        path: 'm0, -20 l5,5 v15 l20 5 v5 h-21v5l5 5v5h-9 M0,-20 l-5,5 v15 l-20 5 v5 h21v5l-5 5v5h9',
        fillColor: 'rgba(255,255,0,1)',
        fillOpacity: 1, strokeWeight: 1, scale: 1, rotation: flight.flight[10] }"
      :position="{lat: flight.flight[6], lng: flight.flight[5]}"
    />
    <GmapInfoWindow :options="{maxWidth: 300}" content="test"/>
  </GmapMap>
</template>
<script>
import { gmapApi } from 'vue2-google-maps';

export default {
  props: ['flight', 'position'],
  computed: {
    google: gmapApi,
  },
};
</script>
