<template>
  <v-app dark>
    <v-toolbar app :class="{'primary': $store.state.selectedFlight}">
      <v-toolbar-title class="headline text-uppercase">
        <span>Flight</span>
        <span class="font-weight-light">Tracker </span>
        <span class="font-weight-light" v-if="$store.state.selectedFlight"> [{{$store.state.selectedFlight.flight[1]}}]</span>
        <span>
          <v-chip :title="$store.state.flights.length + ' flights found'">{{$store.state.flights.length}}</v-chip>
        </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon fab @click="clear" v-if="$store.state.selectedFlight">
        <v-icon>clear</v-icon>
      </v-btn>
      <div v-else>
      <v-btn icon fab @click="refresh">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-btn href="https://gitlab.com/tanneman1/flight-tracker" icon fab><div class="gitlab"></div></v-btn>
      </div>
    </v-toolbar>
    <v-content app>
      <v-progress-linear class="onTop" :indeterminate="true" v-if="$store.state.loading"></v-progress-linear>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
export default {
  methods: {
    refresh() {
      this.$store.dispatch('retrieveFlights');
    },
    clear() {
      this.$store.commit('selectedFlight', null);
    },
  },
};
</script>
<style scoped>
.onTop {
  z-index: 10;
  position: absolute;
}
.v-progress-linear.onTop {
  margin: 0;
}
.gitlab {
  width: 36px;
  height: 36px;
  background-image: url(https://about.gitlab.com/images/press/logo/svg/gitlab-icon-1-color-white-rgb.svg);
  background-size: contain;
  background-position: center;
}
</style>
